@using Microsoft.AspNetCore.Authentication.Cookies
@using System.Diagnostics.Eventing.Reader
@model DndCompanion.Models.CampaignModel
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<UserModel> SignInManager
@{
    ViewData["Title"] = "Campaign";
    bool isSignedIn = SignInManager.IsSignedIn(User);
    int numberOfPlayers = 0;
    bool isOwner = false;
    if(Model != null)
    {
        numberOfPlayers = Model.UsersCampaigns.Count(x => !x.IsOwner);   
        isOwner = isSignedIn && Model.UsersCampaigns.Any(x => x.User.UserName == User.Identity.Name && x.IsOwner);
    }
}

<div class="container mt-4">
    @if(Model == null)
    {
        <h2 class="text-center">You do not have access to this campaign or it does not exist.</h2>
        <div class="text-center">
            <a asp-controller="Campaigns" asp-action="Index" class="text-decoration-none mt-3">Back to Campaigns</a>
        </div>
        return;
    }
    <h1>Campaign: @Model.Name</h1>
    <div class="text-center">
        <a asp-controller="Campaigns" asp-action="Index" class="text-decoration-none mt-3">Back</a>
    </div>
    <p><strong>Description:</strong> @Model.Description</p>
    <p><strong>Is Public:</strong> @(Model.Public ? "Yes" : "No")</p>
    <p><strong>Created At:</strong> @Model.CreatedAt.ToString("yyyy-MM-dd HH:mm:ss")</p>
    <p><strong>Owner:</strong> @Model.UsersCampaigns.Where(x => x.IsOwner).FirstOrDefault()?.User?.UserName</p>
    
    <!-- Only show player list if user is signed in and part of the campaign -->
    @if(isSignedIn && Model.UsersCampaigns.Any(x => x.User.UserName == User.Identity.Name))
    {
    <div class="container mt-4">
        <h2>Players</h2>
        <p><strong>Number of players:</strong> @Model.UsersCampaigns.Count(x => !x.IsOwner)/@ViewBag.MaxNumberOfPlayersPerCampaign</p>
        <table class="table table-bordered">
            <thead class="table-light">
                <tr>
                    <th>Name</th>
                    <th>Character</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @if(numberOfPlayers == 0)
                {
                    <tr>
                        <td colspan="3" class="text-center">No players added to this campaign yet.</td>
                    </tr>
                }
                else
                {
                    foreach (var userCampaign in Model.UsersCampaigns.Where(x => !x.IsOwner))
                    {
                        <tr>
                            <td>@userCampaign.User.UserName</td>
                            <td>
                                @{
                                    var user = userCampaign.User;
                                    var UserCharacterInCampaign = user.OwnedCharacters.Where(c => c.CharacterCampaigns.Any(cc => cc.CampaignId == Model.Id)).FirstOrDefault();
                                    if(UserCharacterInCampaign != null)                                    
                                    {
                                        <div>
                                            @if (UserCharacterInCampaign.AvatarImage != null && UserCharacterInCampaign.AvatarImage.Length > 0)
                                            {
                                                <img src="data:image/jpeg;base64,@Convert.ToBase64String(UserCharacterInCampaign.AvatarImage)" alt="Avatar" class="img-thumbnail mb-3" width="50" height="50" />
                                            }
                                        <a asp-controller="Character" asp-action="Index" asp-route-id="@UserCharacterInCampaign.Id">@UserCharacterInCampaign.Name</a>
                                        @if(isOwner || user.UserName == User.Identity.Name)
                                        {
                                            <a asp-controller="Campaign" asp-action="UnassignCharacter" asp-route-campaignId="@userCampaign.CampaignId" asp-route-characterId="@UserCharacterInCampaign.Id" class="btn btn-danger btn-sm ms-3" style="float:right">Unassign Character</a>
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        }
                                        </div>

                                    }
                                    else if(User.Identity.Name == user.UserName)
                                    {
                                        <div>
                                            <select class="form-select" onchange="location = this.value;">
                                                <option value="">Assign a character</option>
                                                @foreach (var character in user.OwnedCharacters)
                                                {
                                                    <option value="@Url.Action("AssignCharacter", "Campaign", new { campaignId = userCampaign.CampaignId, characterId = character.Id })">@character.Name</option>
                                                }
                                            </select>
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        </div>
                                    }
                                    else {
                                        <span>No character assigned</span>
                                    }
                                }
                                
                            </td>
                            <td style="width:20%">
                            @if(isOwner)
                            {
                                <a asp-controller="Campaign" asp-action="DeleteUser" asp-route-userId="@userCampaign.UserId" asp-route-campaignId="@userCampaign.CampaignId" class="btn btn-danger">Remove User from Campaign</a>
                            }
                            else if(userCampaign.User.UserName == User.Identity.Name)
                            {
                                <a asp-controller="Campaign" asp-action="LeaveCampaign" asp-route-campaignId="@userCampaign.CampaignId" class="btn btn-danger">Leave Campaign</a>
                            }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        @if(isOwner)
        {
        <div class="float-center mb-3">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @if(numberOfPlayers < ViewBag.MaxNumberOfPlayersPerCampaign)
            {
                <a class="btn btn-primary" asp-controller="Campaign" asp-action="AddUser" asp-route-campaignId="@Model.Id">
                    Add User
                </a>
            }
            else
            {
                <button class="btn btn-primary disabled"">
                    Add User
                </button>
                <p class="text-danger">You have reached the maximum number of users.</p>
            }
        </div>
        }
    </div>
    }

</div>
