@using Microsoft.AspNetCore.Authentication.Cookies
@using System.Diagnostics.Eventing.Reader
@model DndCompanion.Models.CampaignModel
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<UserModel> SignInManager
@{
    ViewData["Title"] = "Campaign";
    bool isSignedIn = SignInManager.IsSignedIn(User);
    int numberOfPlayers = 0;
    bool isOwner = false;
    if(Model != null)
    {
        numberOfPlayers = Model.UsersCampaigns.Count(x => !x.IsOwner);   
        isOwner = isSignedIn && Model.UsersCampaigns.Any(x => x.User.UserName == User.Identity.Name && x.IsOwner);
    }
}

<div class="container mt-4">
    @if(Model == null)
    {
        <h2 class="text-center">You do not have access to this campaign or it does not exist.</h2>
        <div class="text-center">
            <a asp-controller="Campaigns" asp-action="Index" class="text-decoration-none mt-3">Back to Campaigns</a>
        </div>
        return;
    }
    <h1>Campaign: @Model.Name</h1>
    <div class="text-center">
        <a asp-controller="Campaigns" asp-action="Index" class="text-decoration-none mt-3">Back</a>
    </div>
    <p><strong>Description:</strong> @Model.Description</p>
    <p><strong>Is Public:</strong> @(Model.Public ? "Yes" : "No")</p>
    <p><strong>Created At:</strong> @Model.CreatedAt.ToString("yyyy-MM-dd HH:mm:ss")</p>
    <p><strong>Owner:</strong> @Model.UsersCampaigns.Where(x => x.IsOwner).FirstOrDefault()?.User?.UserName</p>
    
    <!-- Only show player list if user is signed in and part of the campaign -->
    @if(isSignedIn && Model.UsersCampaigns.Any(x => x.User.UserName == User.Identity.Name))
    {
    <div class="container mt-4">
        <h2>Players</h2>
        <p><strong>Number of players:</strong> @Model.UsersCampaigns.Count(x => !x.IsOwner)/@ViewBag.MaxNumberOfPlayersPerCampaign</p>
        <table class="table table-bordered">
            <thead class="table-light">
                <tr>
                    <th>Name</th>
                    @if(isOwner)
                    {
                    <th>Actions</th>
                    }
                </tr>
            </thead>
            <tbody>
                @if(numberOfPlayers == 0)
                {
                    <tr>
                        <td colspan="2" class="text-center">No players added to this campaign yet.</td>
                    </tr>
                }
                else
                {
                    foreach (var userCampaign in Model.UsersCampaigns.Where(x => !x.IsOwner))
                    {
                        <tr>
                            <td>@userCampaign.User.UserName</td>

                            @if(isOwner)
                            {
                            <td><a asp-controller="Campaign" asp-action="DeleteUser" asp-route-userId="@userCampaign.UserId" asp-route-campaignId="@userCampaign.CampaignId" class="btn btn-danger">Delete</a></td>
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>
        @if(isOwner)
        {
        <div class="float-center mb-3">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @if(numberOfPlayers < ViewBag.MaxNumberOfPlayersPerCampaign)
            {
                <a class="btn btn-primary" asp-controller="Campaign" asp-action="AddUser" asp-route-campaignId="@Model.Id">
                    Add User
                </a>
            }
            else
            {
                <button class="btn btn-primary disabled"">
                    Create New Campaign
                </button>
                <p class="text-danger">You have reached the maximum number of campaigns. Please delete an existing campaign before creating a new one.</p>
            }
        </div>
        }
    </div>
    }

</div>
