@using Microsoft.AspNetCore.Authentication.Cookies
@using System.Configuration;
@using Microsoft.AspNetCore.Mvc.ModelBinding
@model IEnumerable<DndCompanion.Models.CampaignModel>

@{
    ViewData["Title"] = "Campaigns";
}

<div class="container mt-4">
    <h1>Campaigns @Model.Count()/@ViewBag.MaxNumberOfCampaignsPerUser</h1>
    <div class="container">
        <table class="table table-bordered">
            <thead class="table-light">
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>IsPublic</th>
                    <th>CreatedAt</th>
                    <th>Owner</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var campaign in Model)
                {
                    <tr>
                        <td><a asp-controller="Campaign" asp-action="Index" asp-route-id="@campaign.Id">@campaign.Name</a></td>
                        <td>@campaign.Description</td>
                        <td>@campaign.Public</td>
                        <td>@campaign.CreatedAt.ToString("yyyy-MM-dd HH:mm:ss")</td>
                        <td>@campaign.Owner.UserName</td>
                        <td><a asp-controller="Campaigns" asp-action="Delete" asp-route-id="@campaign.Id" class="btn btn-danger">Delete</a></td>
                    </tr>       
                }
            </tbody>
        </table>
    </div>
    <div class="float-center mb-3">
        @if(Model.Count() < ViewBag.MaxNumberOfCampaignsPerUser)
        {
            <a class="btn btn-primary" asp-controller="Campaigns" asp-action="Create">
                Create New Campaign
            </a>
        }
        else
        {
            <button class="btn btn-primary disabled" asp-controller="Campaigns" asp-action="Create">
                Create New Campaign
            </button>
            <p class="text-danger">You have reached the maximum number of campaigns. Please delete an existing campaign before creating a new one.</p>
        }
    </div>
</div>