@using Microsoft.AspNetCore.Authentication.Cookies
@using System.Configuration;
@using Microsoft.AspNetCore.Mvc.ModelBinding
@model IEnumerable<DndCompanion.Models.CampaignModel>

@using Microsoft.AspNetCore.Identity;
@inject SignInManager<UserModel> SignInManager

@{
    ViewData["Title"] = "Campaigns";
    string userName = SignInManager.IsSignedIn(User) ? User.Identity.Name : "Guest";
    IEnumerable<CampaignModel> ownedCampaigns = Model.Where(c => c.UsersCampaigns.Where(uc => uc.User.UserName == userName && uc.IsOwner).Any());
    IEnumerable<CampaignModel> joinedCampaigns = Model.Where(c => c.UsersCampaigns.Where(uc => !uc.IsOwner && uc.User.UserName == userName).Any());
}

<div class="container mt-4">
    <h1>Owned Campaigns @ownedCampaigns.Count()/@ViewBag.MaxNumberOfCampaignsPerUser</h1>
    <div class="container">
        <table class="table table-bordered">
            <thead class="table-light">
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>IsPublic</th>
                    <th>CreatedAt</th>
                    <th>Owner</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var campaign in ownedCampaigns)
                {
                    <tr>
                        <td><a asp-controller="Campaign" asp-action="Index" asp-route-id="@campaign.Id">@campaign.Name</a></td>
                        <td>@campaign.Description</td>
                        <td>@campaign.Public</td>
                        <td>@campaign.CreatedAt.ToString("yyyy-MM-dd HH:mm:ss")</td>
                        <td>@campaign.UsersCampaigns.Where(x => x.IsOwner).FirstOrDefault()?.User?.UserName</td>
                        <td><a asp-controller="Campaigns" asp-action="Delete" asp-route-id="@campaign.Id" class="btn btn-danger">Delete</a></td>
                    </tr>       
                }
            </tbody>
        </table>
    </div>
    <div class="float-center mb-3">
        @if(ownedCampaigns.Count() < ViewBag.MaxNumberOfCampaignsPerUser)
        {
            <a class="btn btn-primary" asp-controller="Campaigns" asp-action="Create">
                Create New Campaign
            </a>
        }
        else
        {
            <button class="btn btn-primary disabled">
                Create New Campaign
            </button>
            <p class="text-danger">You have reached the maximum number of campaigns. Please delete an existing campaign before creating a new one.</p>
        }
    </div>

    <h1>Joined Campaigns (@joinedCampaigns.Count())</h1>
        <div class="container">
        <table class="table table-bordered">
            <thead class="table-light">
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>IsPublic</th>
                    <th>CreatedAt</th>
                    <th>Owner</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var campaign in joinedCampaigns)
                {
                    <tr>
                        <td><a asp-controller="Campaign" asp-action="Index" asp-route-id="@campaign.Id">@campaign.Name</a></td>
                        <td>@campaign.Description</td>
                        <td>@campaign.Public</td>
                        <td>@campaign.CreatedAt.ToString("yyyy-MM-dd HH:mm:ss")</td>
                        <td>@campaign.UsersCampaigns.Where(x => x.IsOwner).FirstOrDefault()?.User?.UserName</td>
                    </tr>       
                }
            </tbody>
        </table>
    </div>
</div>
