@using Microsoft.AspNetCore.Authentication.Cookies
@model IEnumerable<DndCompanion.Models.CampaignModel>

@{
    ViewData["Title"] = "Public Campaigns";
}

<div class="container mt-4">
    <h1>Public Campaigns</h1>
    <div class="container">
        <table class="table table-bordered">
            <thead class="table-light">
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>IsPublic</th>
                    <th>CreatedAt</th>
                    <th>Owner</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var campaign in Model)
                {
                    <tr>
                        <td><a asp-controller="Campaign" asp-action="Index" asp-route-id="@campaign.Id">@campaign.Name</a></td>
                        <td>@campaign.Description</td>
                        <td>@campaign.Public</td>
                        <td>@campaign.CreatedAt.ToString("yyyy-MM-dd HH:mm:ss")</td>
                        <td>@campaign.Owner.UserName</td>
                    </tr>
                    
                }
            </tbody>
        </table>
    </div>
    <div class="float-center mb-3">
        <a class="btn btn-primary" asp-controller="Campaigns" asp-action="Create">
            Create New Campaign
        </a>
    </div>
</div>